.banner {
  background: hsl(180, 29%, 50%);
  background-image: url("./images/bg-header-desktop.svg");
  height: 10vh;
  width: 100%;
  margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
  .banner {
    background-image: url("./images/bg-header-mobile.svg");
  }
}
